* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: 14px;
    background-color: #0c392b;
    background-image: url('/duizenden/background.jpg');
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a, a:link, a:visited, a:active {
    color: #fff;
}

a:hover {
    color: #f5871f;
}