body {
    overflow: hidden;
}

#game-container div {
    /*border: yellow 1px dotted;*/
}

#game-container {
    display: flex;
    flex-direction: column;
}

#hands-opponents {
    display: flex;
    height: 15vh;
}

.hand-opponent, .melds-opponent {
    flex: 1;
    flex-wrap: wrap;
    max-height: 29vh;
}

.hand-opponent {
    display: flex;
    justify-content: center;
}

.melds-opponent {
    display: flex;
    justify-content: center;
}

.melds-opponent .meld-container {
    margin: 0 .5vw 1vw .5vw;
}

#table-opponents {
    display: flex;
    flex-direction: column;
    flex-basis: 65vh;
    justify-content: space-between;
}

#melds-opponents {
    display: flex;
    overflow-y: auto;
}

#melds-local {
    display: flex;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: center;
    flex-wrap: wrap;
}

#local-player {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

#card-stacks, #reporting {
    flex-basis: 20%;
}

#card-stacks {
    display: flex;
    align-items: center;
}

#card-stacks .pool {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6vmin;
    height: calc(15.42vmin + calc(2 * 1.6vmin));
    width: calc(9.45vmin + calc(2 * 1.6vmin));
    border: .2vmin solid rgba(2, 2, 2, .08);
    border-radius: .48vmin;
    background-color: rgba(2, 2, 2, .08);
    transition: background-color 300ms;
}

#card-stacks .pool.droppable {
    background-color: rgba(170 , 0 , 0, 1);
    transition: background-color 300ms;
}

#hand-local {
    display: flex;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}

#hand-local-container {
    display: none;
    position: relative;
    margin-bottom: calc(17.46vmin + 2.5vmin);
    width: 1px;
    height: 1px;
}

.meld-container {
    position: relative;
}

#melds-local .meld-container {
    margin: 0 .5vw 1vw .5vw;
}

.hand-opponent-container {
    position: relative;
    width: 1px;
    height: 1px;
    margin-top: 1vh;
}
.card-hand-dropper {
    display: none;
}
