body {
    overflow: hidden;
}

#game-container div {
    /*border: yellow 1px dotted;*/
}

#game-container {
    display: flex;
    flex-direction: column;
}

#hands-opponents {
    display: flex;
    height: 17vh;
}

.hand-opponent, .melds-opponent {
    flex: 1;
    flex-wrap: wrap;
    max-height: 27vh;
}

.hand-opponent {
    display: flex;
    justify-content: center;
}

.melds-opponent {
    display: flex;
    justify-content: center;
}

.melds-opponent .meld-container {
    margin: 0 .5vw 1vw .5vw;
}

#table-opponents {
    display: flex;
    flex-direction: column;
    flex-basis: 63vh;
    justify-content: space-between;
}

#melds-opponents {
    display: flex;
    overflow-y: auto;
}

#melds-local {
    display: flex;
    max-height: 36vh;
    overflow-y: auto;
    justify-content: center;
    flex-wrap: wrap;
}

#local-player {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

#card-stacks, #reporting {
    flex-basis: 20%;
}

#card-stacks {
    display: flex;
    justify-content: space-evenly;
}

#hand-local {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
}

#hand-local-container {
    display: none;
    position: relative;
    width: 1px;
    height: 1px;
}

.meld-container {
    position: relative;
}

#melds-local .meld-container {
    margin: 0 .5vw 1vw .5vw;
}

.hand-opponent-container {
    position: relative;
    width: 1px;
    height: 1px;
    margin-top: 1vh;
}
.card-hand-dropper {
    display: none;
}
