.tab-content a.button {
    margin-bottom: .3vmin;
}

#actions-pane {
    display: flex;
    flex-direction: column;
    font-size: 1.7vmin;
    color: #D5D3CF;
}

#actions-actions {
    display: flex;
    flex-direction: column;
}

#actions-current-player {
    padding-bottom: 1vmin;
}

#actions-description {
    display: flex;
    flex-direction: column;
    padding-left: 2vmin;
}

.allowed-action-text {
    display: inline-block;
    color: #D5D3CF;
    /*background: #413E3F;*/
    padding: .2vmin .5vmin;
    margin-bottom: .8vmin;
    border-radius: .2vmin;
}

.allowed-action-bullet{
    color: #B2A7A1
}

#actions-pane-items {
    display: flex;
}