{% set active_player = get_player_from_state_data(state_data, current_player_id) %}
<div id="actions-pane">
    <div id="actions-current-player">
        <span id="actions-current-player-text">{{ current_player_id == player.id ? 'Your turn' : active_player.name ~ '\'s turn' }}</span>
    </div>
    <div id="actions-pane-items">
        <div id="actions-actions">
            <div id=actions-buttons>
                <div><a class="button hidden" id="deal"><span class="deal"></span> <span>Deal cards</span></a></div>
                <div><a class="button hidden" id="restart" href="{{ path('duizenden.new') }}"><span class="restart"></span> <span>Restart</span></a></div>
                <div><a class="button" onclick="undoLastAction(); return false;"><span class="undo"></span> <span>Undo</span></a></div>
                <div><a class="button hidden" id="meld-button" onclick="meld()"><span class="meld"></span> <span>Meld cards</span></a></div>
            </div>
        </div>
        <div id="actions-description">
            <div id="allowed-actions">
            {% if player.id == current_player_id %}
                {% for action in state_data.allowed_actions %}
                    <div class="allowed-action"><span class="allowed-action-bullet">●</span> <span class="allowed-action-text">{{ action.description }}</span></div>
                {% endfor %}
            {% else %}
               Please wait for your turn.
            {% endif %}
            </div>
        </div>
    </div>
</div>