<div id="actions">
    <a class="button" href="#" id="deal" style="display: none;">Deal cards</a>
    <a class="button" style="display: none;" href="{{ path('duizenden.new') }}" id="restart">Restart</a>
    <a class="button" href="#" onclick="undoLastAction(); return false;">&#x293A; Undo last action</a>
    <a class="button" id="meld-button" style="display: none" onclick="meld()">Meld cards</a>

{#    <div>#}
{#        <b>Allowed actions</b><br/>#}
{#        <div id="allowed-actions">#}
{#    {% for transition in workflow_transitions(game) %}#}
{#        {{ transition.name }}<br/>#}
{#    {% else %}#}
{#        No actions available<br/>#}
{#    {% endfor %}#}
{#        </div>#}
{#    </div>#}
</div>